$primary-color: #DC5E44;
$secondary-color: #E4E6EC;
$white: #ffffff;

$color-logo: $primary-color;
$color-body-background: $secondary-color;
$color-footer-background: $primary-color;
$color-strong: $primary-color;
$color-logo-footer: $secondary-color;