@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&family=Roboto:wght@400;900&display=swap');

$font-primary: 'Roboto';
$font-secondary: 'Roboto Slab';

body {
  font-family: $font-primary;
}

.logo {

  &-text {
    font-size: 3.5rem;
    font-weight: 400;
    padding-left: 2rem;
    color: $color-logo;
    font-family: $font-secondary;
  }

  &-footer {
    color: $color-logo-footer;
    font-size: 3.5rem;
    margin: 0;
  }
}


.hero-text {
  font-size: 5.6rem;
  font-weight: 900;
}