<footer class="footer flex items-center justify-center flex-col">
    <img src="{{ asset('images/logospaceblogfooter.svg') }}" alt="Logo SpaceBlog" class="opacity-8">
    <p class="logo-footer opacity-8">SpaceBlog</p>
</footer>