<header class="flex justify-center">
    <div class="wrapper w-full">
        <a href="{{ path('app_home') }}" class="flex h-full items-center">
            <img src="{{ asset('images/logospaceblog.svg') }}" alt="Logo SpaceBlog" class="logo">
            <p class="logo-text">SpaceBlog</p>
        </a>
    </div>
</header>