<header class="flex justify-center">
    <div class="wrapper w-full">
        <div class="flex h-full items-center">
            <img src="{{ asset('images/logospaceblog.svg') }}" alt="Logo SpaceBlog" class="logo">
            <h1 class="logo-text">SpaceBlog</h1>
        </div>
    </div>
</header>